{% extends "@FOSUser/layout.html.twig" %}


{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <link href="{{ asset('css/myformulaire.css') }}" rel="stylesheet">

    <div class="login-page">

    <div class="form">

        <div class="login-form" >
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

        </div>
    </div>
</div>
{% endblock fos_user_content %}






