{%  extends 'base.html.twig' %}
{% block content %}
    <div style="
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
">

    <!-- Adoption -->
  {#  <div class="container">
        <div class="row">
            <div class="col-md-12 centered">
                <h3><span>The adoption centre</span></h3>
                 </div>
        </div>
    </div>#}
        <!-- Adoption -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 centered">
                    <h3><span>The adoption centre</span></h3>
                    <h3><span>Find your perfect companion</span></h3>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                </div>
            </div>
            <div class="row adoption">
                <div class="col-md-4">
                    <a href="{{ path('singlepet') }}" title=""><img src="images/dog-4.png" alt="Saint Bernard" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Gerard">Gerard</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('singlepet') }}"  title="Beagle"><img src="images/dog-5.png" alt="Beagle" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Rex">Rex</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Staffordshire Bull Terrier"><img src="images/dog-6.png" alt="Staffordshire Bull Terrier" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="George">George</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="King Charles Cavalier"><img src="images/dog-7.png" alt="King Charles Cavalier" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="King Charles Cavalier">King Charles Cavalier</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Dachshund"><img src="images/dog-8.png" alt="Dachshund" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Dachshund">Dachshund</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="French Bulldog"><img src="images/dog-9.png" alt="French Bulldog" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="French Bulldog">French Bulldog</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Adoption end -->
        <!-- Adoption -->
        <div class="container">

            <div class="row adoption">
                <div class="col-md-4">
                    <a href="adoption-single.html" title=""><img src="images/dog-4.png" alt="Saint Bernard" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Saint Bernard">Saint Bernard</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Beagle"><img src="images/dog-5.png" alt="Beagle" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Beagle">Beagle</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Staffordshire Bull Terrier"><img src="images/dog-6.png" alt="Staffordshire Bull Terrier" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Staffordshire Bull Terrier">Staffordshire Bull Terrier</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="King Charles Cavalier"><img src="images/dog-7.png" alt="King Charles Cavalier" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="King Charles Cavalier">King Charles Cavalier</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Dachshund"><img src="images/dog-8.png" alt="Dachshund" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Dachshund">Dachshund</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="French Bulldog"><img src="images/dog-9.png" alt="French Bulldog" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="French Bulldog">French Bulldog</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Adoption end -->
        <!-- Adoption end -->
    {#<!-- Carousel -->
    <div id="c-carousel">
        <div id="wrapper">
            <div class="featured">
                <h3><span>Featured dog</span><br />
                    Buddy the terrier</h3>
                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica.</p>
                <form method="get" action="adoption-single.html">
                    <button type="submit" class="btn btn-default btn-green">Meet buddy</button>
                </form>
            </div>
            <div id="carousel">
                <div>
                    <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                        <img src="images/featured-1.png" alt="Dog" />
                    </a>
                </div>
                <div>
                    <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                        <img src="images/featured-2.png" alt="Dog" />
                    </a>
                </div>
                <div>
                    <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                        <img src="images/featured-3.png" alt="Dog" />
                    </a>
                </div>
                <div>
                    <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                        <img src="images/featured-1.png" alt="Dog" />
                    </a>
                </div>
                <div>
                    <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                        <img src="images/featured-2.png" alt="Dog" />
                    </a>
                </div>
                <div>
                    <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                        <img src="images/featured-3.png" alt="Dog" />
                    </a>
                </div>
            </div>
            <div id="pager" class="pager"></div>
        </div>
    </div>
    <!-- Carousel end -->
    #}</div>
{% endblock %}