{%  extends 'base.html.twig' %}
{% block content %}
    <div style="
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
">

        <!-- Adoption -->
        {#  <div class="container">
              <div class="row">
                  <div class="col-md-12 centered">
                      <h3><span>The adoption centre</span></h3>
                       </div>
              </div>
          </div>#}
        <!-- Adoption -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 centered">

                    <h3><span>Find a gift that suits your pet</span></h3>
                        </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6 col3">
                            ONE
                        </div>
                        <div class="col-xs-6 col3">
                            TWO
                        </div>
                    </div>
                </div>
            </div>

            <div class="row adoption">
                <div class="col-md-4">
                    <a href="adoption-single.html" title=""><img src="images/product4.jpeg" alt="Saint Bernard" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Beagle"><img src="images/product2.jpg" alt="Beagle" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Staffordshire Bull Terrier"><img src="images/product3.jpg" alt="Staffordshire Bull Terrier" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="King Charles Cavalier"><img src="images/product3.jpg" alt="King Charles Cavalier" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Dachshund"><img src="images/product6.jpg" alt="Dachshund" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="French Bulldog"><img src="images/product2.jpg" alt="French Bulldog" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Adoption end -->
        <!-- Adoption -->
        <div class="container">

            <div class="row adoption">
                <div class="col-md-4">
                    <a href="adoption-single.html" title=""><img src="images/product3.jpg" alt="Saint Bernard" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Beagle"><img src="images/product4.jpeg" alt="Beagle" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Staffordshire Bull Terrier"><img src="images/product6.jpg" alt="Staffordshire Bull Terrier" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="King Charles Cavalier"><img src="images/product4.jpeg" alt="King Charles Cavalier" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="Dachshund"><img src="images/product2.jpg" alt="Dachshund" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="adoption-single.html" title="French Bulldog"><img src="images/product4.jpeg" alt="French Bulldog" /></a>
                    <div class="title">
                        <h5>
                            <span data-hover="Prix DT">Nom Produit</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Adoption end -->
        <!-- Adoption end -->
        {#<!-- Carousel -->
        <div id="c-carousel">
            <div id="wrapper">
                <div class="featured">
                    <h3><span>Featured dog</span><br />
                        Buddy the terrier</h3>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica.</p>
                    <form method="get" action="adoption-single.html">
                        <button type="submit" class="btn btn-default btn-green">Meet buddy</button>
                    </form>
                </div>
                <div id="carousel">
                    <div>
                        <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                            <img src="images/featured-1.png" alt="Dog" />
                        </a>
                    </div>
                    <div>
                        <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                            <img src="images/featured-2.png" alt="Dog" />
                        </a>
                    </div>
                    <div>
                        <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                            <img src="images/featured-3.png" alt="Dog" />
                        </a>
                    </div>
                    <div>
                        <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                            <img src="images/featured-1.png" alt="Dog" />
                        </a>
                    </div>
                    <div>
                        <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                            <img src="images/featured-2.png" alt="Dog" />
                        </a>
                    </div>
                    <div>
                        <a href="adoption-single.html" title="Dog" data-hover="Meet buddy the terrier">
                            <img src="images/featured-3.png" alt="Dog" />
                        </a>
                    </div>
                </div>
                <div id="pager" class="pager"></div>
            </div>
        </div>
        <!-- Carousel end -->
        #}</div>
{% endblock %}