
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


table {

    border-collapse: separate;
    background:#fff;
    border-radius:5px;
    margin:50px auto;
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
}

thead {
    border-radius:5px;
}

thead th {
    font-family: 'Patua One', cursive;
    font-size:16px;
    font-weight:400;
    color:#fff;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    text-align:center;
    padding:2px;
    background-color:#65c178;
    linear-gradient:#4a5564;
    border-top:1px solid #858d99;}

first-child {
    border-top-left-radius:5px;
}

last-child {
border-top-right-radius(5px);
}


tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color:#5f6062;
    font-size:13px;
    padding:2px 2px 2px 2px;
    border-bottom:1px solid #e0e0e0;

}

tbody tr:nth-child(2n) {
    background:#f0f3f5;
}

tbody tr:last-child td {
    border-bottom: none;
}
first-child {
border-bottom-left-radius(5px);
}
last-child {
border-bottom-right-radius(5px);
}


tbody:hover > tr td {
    opacity:0.5;

    /* uncomment for blur effect */
    /* color:transparent;
    @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

tbody:hover > tr:hover td {
    text-shadow:none;
    color:#2d2d2d;
    opacity:1.0;
}