body{background-color:rgb(255,255,255);}
#MonFormulaire{width:50%; margin:0 auto; font-size:0.85em;}
#MonFormulaire ul{padding-left:0px;}
#MonFormulaire li{background-color:rgb(255,255,255); line-height:3em; border-radius:0.5em; list-style:none; padding:0.5em; margin-bottom:0.5em; transition:box-shadow 0.5s ease; border: 1px solid rgb(220,220,220);}
#MonFormulaire li:hover{box-shadow:0 0 10px rgb(180,180,180);}
#MonFormulaire li label, #MonFormulaire li input{display:inline-block;}
#MonFormulaire label{font-family:Arial; margin-left:1em; width:140px; text-align:center;	}
#MonFormulaire input{font-family:'Arial'; font-size:0.85em; width:65%; height:2.5em; border:none; text-align:center; border-left:1px solid rgb(150,150,150); margin-left:1em; background:transparent;}
#MonFormulaire textarea{font-family:'Arial'; width:98%; height:14em; font-size:0.85em; padding:0.5em; border:none; text-align:center;}

#MonFormulaire button#Btn-Submit{background-color:rgb(38,38,40); color:rgb(255,255,255); font-family:'Verdana'; font-size:1em; text-transform:uppercase; width:300px; margin:1em auto; border:none; cursor:pointer; border-radius:0.4em; transition: background 0.5s ease, border-radius 0.5s ease; padding:1em 0; float:right;}

#MonFormulaire button#Btn-Submit:hover{background-color:rgb(92,173,171); text-shadow:2px 2px 0 rgb(65,122,121); border-radius:0.6em;}

@media screen and (max-width: 1115px){
    #MonFormulaire{
        width:500px;
    }
}








.dropdown dd {
    position: relative;
}

.dropdown a,
.dropdown a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.dropdown dt a {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
}

.dropdown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown dd ul {
    border: 0;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}





