<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 400px;
            width: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>

    function initMap() {

        var userLng = parseFloat($('#lng').val());
        var userLat = parseFloat($('#lat').val());
        var mapOptions = {
            center: { lat: userLat, lng: userLng },
            zoom: 8
        };



        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var marker = new google.maps.Marker({
            position:  { lat: userLat, lng: userLng },
            map: map,
            title: 'Hello World!'
        });
    }





</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAM-OpkHAescn9IJZWrHSEj5nrkxUjPHWg&callback=initMap">
</script>
</body>
</html>